# =========================
# GLOBAL / OS FILES
# =========================
.DS_Store

# =========================
# LOGS
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# =========================
# Web
# =========================
# Dependencies
web/node_modules
web/.pnp
web/.pnp.*
web/.yarn/*
!web/.yarn/patches
!web/.yarn/plugins
!web/.yarn/releases
!web/.yarn/versions

# Testing
web/coverage

# Next.js Build Output
web/.next/
web/out/

# Production
web/build

# Vercel
web/.vercel

# TypeScript
web/*.tsbuildinfo
web/next-env.d.ts

# =========================
# ENV VARIABLES
# =========================
# Ignore .env files in both root and web/
.env*
!.env.example

# =========================
# iOS
# =========================
*.xcodeproj/project.xcworkspace/xcuserdata/
*.userdata
DerivedData/